---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6 border border-transparent hover:border-orange-500 transition-colors" title="Sobre mí">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
     Me llamo José Luis Parada y soy desarrollador Full Stack residente de España. 🚀
      <br />
      <br />
      Mi selección principal de herramientas:
      <ul class="list-inside list-disc">
        <li>JavaScript</li>
        <li>Astro</li>
        <li>Php</li>
        <li>Laravel</li>
        <li>CodeIgnaiter</li>
        <li>React</li>
        <li>Java</li>
        <li>C++</li>
        <li>Mongo</li>
        <li>SQL</li>
        <li>Boostrap</li>
        <li>CSS</li>
        <li>HTML</li>
        <li>Git</li>
        <li>Nodejs</li>
        <li>Visual Code</li>
        <li>Google Workspace</li>

      </ul>
    </p>

  </div>
</Card>
