---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2 border border-transparent hover:border-orange-500 transition-colors">
  <div class="mb-2 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Actualidad</h2>
    
    </div>
    <Pulse />
  </div>
  <p class="text-xs">Ahora mismo estoy de practicas en formacion en Xerintel como dev Fullstack. Jerez de la Frontera.</p>
</Card>
